body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

div {
  height: 200px;
  width: 200px;
  background-color: tomato;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border-radius: 10px;
  text-align: center;
  line-height: 200px;
}

.div-hover:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.6);
}

.div-hover:active {
  transform: translate(0);
  box-shadow: none;
}

.box {
  background-color: yellow;
}
